@media only screen and (max-width: 1016px) {
    .responsive-margin-1016 {
        padding-top: 1.4rem;
    }
}

@media only screen and (max-width: 768px) {
    .responsive-margin-768 {
        padding-top: 1.3rem;
    }
}

@media only screen and (max-width: 409px) {
    .responsive-margin-409 {
        padding-top: 1.2rem;
    }

    .responsive-margin {
        margin: 0.1rem;
    }
}

@media only screen and (max-width: 340px) {
    .responsive-margin-340 {
        padding-top: 3.5rem;
    }
}

.logoColorAuth {
    background-image: linear-gradient(to bottom right, rgba(83, 196, 240, 0.5),rgba(128, 181, 251, 0.5), rgba(238, 86, 255, 0.4));
}