@media only screen and (max-width: 1016px) {
    .responsive-margin-1016 {
        padding-top: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .responsive-margin-768 {
        padding-top: 0.2rem;
    }
}

@media only screen and (max-width: 409px) {
    .responsive-margin-409 {
        padding-top: 2.5rem;
    }

    .responsive-margin {
        margin: 0.1rem;
    }
}

@media only screen and (max-width: 337px) {
    .responsive-margin-337 {
        padding-top: 3rem;
    }
}